@tailwind base;
@tailwind components;
@tailwind utilities;
/* First 3 lines of code are needed for Tailwind CSS to work */

/* In this file you will put global styles
styles that will apply to every single tag you specify  */

/* see below we have html and body 
this means that all HTML and all <body> tags will have the following properties
1. Padding 0
2. Margin 0
and font .... */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.loader {
  width: 78px;
  height: calc(27px*0.866 + 8px);
  background:#1c56d9;
  --c1:conic-gradient(from 150deg at top   ,#000 60deg,#0000 0);
  --c2:conic-gradient(from -30deg at bottom,#000 60deg,#0000 0);
  --s:27px calc(27px*0.866);
  clip-path: polygon(18.1px 0,calc(100% - 18.1px) 0,100% 100%,0 100%);
  -webkit-mask:
          var(--c1) left  8px top 50%,
          var(--c2) center,
          var(--c1) right 8px top 50%,
          linear-gradient(#000 0 0);
  -webkit-mask-composite:xor;
  mask-composite:exclude;
  -webkit-mask-repeat:no-repeat;
  animation: l3 1.5s infinite;
}
@keyframes l3 {
  0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
  16.67%{-webkit-mask-size:var(--s),0    0  ,0    0  ,auto}
  33.33%{-webkit-mask-size:var(--s),var(--s),0    0  ,auto}
  50%   {-webkit-mask-size:var(--s),var(--s),var(--s),auto}
  66.67%{-webkit-mask-size:0    0  ,var(--s),var(--s),auto}
  83.33%{-webkit-mask-size:0    0  ,0    0  ,var(--s),auto}
  100%  {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
}